<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Fonts -->
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600" rel="stylesheet" type="text/css">


    <link rel="icon" href="Favicon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <title>Turbo studybay bot v3.0.1 BETA by clink</title>
    <style>
      @import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);


body{
    margin: 0;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.6;
    color: white;
    text-align: left;
    background-color: black;
}

.navbar-laravel
{
    box-shadow: 0 2px 4px rgba(0,0,0,.04);
}

.navbar-brand , .nav-link, .my-form, .login-form
{
    font-family: Raleway, sans-serif;
}

.my-form
{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.my-form .row
{
    margin-left: 0;
    margin-right: 0;
}

.login-form
{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.login-form .row
{
    margin-left: 0;
    margin-right: 0;
}

input{background-color: black;}
    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light navbar-laravel">
    <div class="container">
        <a class="navbar-brand" href="#">CLINK TURBO STUDYBAY BOT -Settings</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Register</a>
                </li>
            </ul>

        </div> -->
    </div>
</nav>

<main class="login-form">
    <div class="cotainer">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card" style="background-color: #6a6a6a;">
                    <div class="card-header" style="background-color: #444444;">Turbo studybay bot v3.0.1 BETA</div>
                  <%if(data.botID){%> 
                    <div class="card-header" style="background-color: #515151;">Bot ID: <%=data.botID%></div>
                    <%}else{%>
                        <div class="card-header">fill in the account details to proceed</div>
                    <%}%>    
                    <div class="card-body">
                        <form action="/" method="POST">
                            <div class="form-group row">
                                <label for="email_address" class="col-md-4 col-form-label text-md-right">E-Mail</label>
                                <div class="col-md-6">
                                    <input value="<%=data.email%>" type="text" id="email_address" class="form-control" name="email" required autofocus>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
                                <div class="col-md-6">
                                    <input value="<%=data.password%>" type="password" id="password" class="form-control" name="password" required>
                                </div>
                            </div>
                            <hr style="border: 1px double #444444;">
                            <div class="form-group row">
                              <label for="password" class="col-md-4 col-form-label text-md-right">refresh rate(seconds)</label>
                              <div class="col-md-6">
                                  <input value="<%=data.refreshRate%>" type="number" id="password" class="form-control" name="refreshRate" required>
                              </div>
                          </div>

                            <div class="form-group row">
                              <label for="password" class="col-md-4 col-form-label text-md-right">price level</label>
                              <div class="col-md-6">
                                  <select name="priceLevel" id="">
                                    <option selected><%=data.priceLevel%></option>
                                    <option value="None">None</option>
                                    <option value="Minimum">Minimum</option>
                                    <option value="Average">Average</option>
                                    <option value="Maximum">Maximum</option>
                                  </select>
                              </div>
                          </div>

                            <div class="form-group row">
                              <label for="password" class="col-md-4 col-form-label text-md-right">unwanted subjects<br><small style="color: black; font-weight: 900;">(NB:separate subject names with a comma)</small></label>
                              <div class="col-md-6">
                                <textarea name="unwantedSubjects" id="" cols="30" rows="3">
                                  <%=data.unwantedSubjects%>
                                </textarea>
                              </div>
                            </div>

                            <div class="form-group row">
                                <label for="password" class="col-md-4 col-form-label text-md-right"></label>
                                <div class="col-md-6">
                                  <input <%if(data.bidUrgent){%>checked <%}%>type="checkbox" name="bidUrgent"> Bid urgent orders
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="password" class="col-md-4 col-form-label text-md-right">Second message<br><small style="color: black; font-weight: 900;">(NB:message will be sent after bid has been placed,USES MORE RESOURCES MEMORY(RAM) AND INTERNET)</small></label>
                                <div class="col-md-6">
                                  <textarea name="secondMessage" id="" cols="30" rows="5">
                                    <%=data.secondMessage%>
                                  </textarea>
                                </div>
                              </div>

                            

                          <div class="form-group row">
                            <label for="password" class="col-md-4 col-form-label text-md-right"></label>
                            <div class="col-md-6">
                              <input <%if(data.sendSecondMessage){%>checked <%}%>type="checkbox" name="sendSecondMessage"> Send second message
                            </div>
                        </div>

                            <div class="col-md-6 offset-md-4">
                                <button type="submit" class="btn btn-warning text-black">
                                    Save and continue
                                </button>
                                <!-- <a href="#" class="btn btn-link">
                                    Proceed with current settings?
                                </a> -->
                            </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>

</main>







</body>
</html>